* {
    font-family: sans-serif;
    font-size: 14px;
}

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }


html, body {
    background-color: #222;
    overflow:hidden;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


div {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

#status {
    position: absolute;
    padding: 10px;
    background: rgba(0, 0, 0, 0.4);
    color: #FFF;
    font-size: 16.1px;
    top: 10px;
    right: 10px;
    font-weight: bold;
    text-align: center;
    display: none;
}

#status .title {
    font-size: 25px;
}

#status .me {
    color: #FF8888;
    font-size: 16.1px;
}

#cvs {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
}

#leaderboxtitle {
    margin: 0px;
    font-weight: bold;
    font-size: 25px;
}

.grayLink a {
    color: gray;
}

.grayLink a:link {
    text-decoration: none;
}

.grayLink a:hover {
    text-decoration: underline;
}

.noticeBox {
    z-index: 1000;
    position: absolute;
    bottom: 0;
    background-color:rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
}

.noticeBox.left {
    left: 0;
    border-radius: 0 5px 0 0;
}

.noticeBox.right {
    right: 0;
    border-radius: 5px 0 0;
}


#leaderbox {
    text-align: center;
    position: absolute; 
    width: 200px;
    background: white;
    opacity: 0.4;
    top: 10px;
    right: 10px;
    border-radius: 10px;
    padding: 10px;
    pointer-events: none;
    display: none;
}

@media (max-height: 320px) { #leaderbox { opacity: 0.1; }}
@media (max-width: 320px) { #leaderbox { opacity: 0.1; }}

#champrec {
    float: left;
    text-align: right;
    width: 15%;
}

#levelrec {
    float: left;
    width: 20%;
}

#namerec {
    float: left;
    width: 55%; 
    padding-left: 5%;
    text-align: left;
    overflow-x: hidden;
    white-space: nowrap;
    display: inline-block;
}

#infobox {
    position: absolute;
    bottom: 15px;
    left: 15px;
    border-radius: 10px;
    pointer-events: none;
    display: none;
}

#lvtext {
    font-size: 50px;
}

#lvnum {
    font-size: 100px;
    margin-bottom: -10px;
}

#lvtext, #lvnum {
    opacity: 0.3;
    align-self: flex-end;
}

@media (max-height: 320px) { 
    #lvtext, #lvnum { opacity: 0.1 }
    #infobox {bottom: -10px} 
}
@media (max-width: 320px) { 
    #lvtext, #lvnum { opacity: 0.1 }
    #infobox {bottom: -10px} 
}

#spawnbox {
    position: relative;
    margin: auto;
    margin-top: 15%;
    width: 350px;
    padding: 20px;
    padding-top: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: white;
    box-sizing: border-box;
    opacity: 0.85;
}

@media (max-height: 320px) {
#spawnbox {
    padding-top: 0px;
    margin-top: 5%;
}}

@media (max-width: 320px) {
#spawnbox {
    width: 250px;
}}

#spawnbox p {
    padding: 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
@media (max-height: 320px) {
#spawnbox p{
    margin: 3px;
}}

#playerNameInput, #rooms, #areas {
    width: 99%;
    height: 50px;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    box-sizing: border-box;
    border-radius: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
}


#rooms, #areas {
    height: 40px;
    font-size: 15px;
    text-align: center;
}

#rooms {
    width: 65%;
}

#areas {
    width: 33%;
}

@media (max-height: 320px) {
#playerNameInput, #rooms {
    height: 40px;
}}

@media (max-height: 320px) {
    #playerNameInput {
        float: left;
        width: 60%;
        margin-right: 2%;
    }
    #rooms {
        float: left;
        width: 38%;
    }
}

#playerNameInput:focus, #playerNameInput.focus {
    border: solid 1px #CCCCCC;
    box-shadow: 0 0 3px 2px #BBDDDD;
}

.genericButton {
    position: relative;
    margin: auto;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    font-size: large;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #8dc15a;
    border: 0;
    border-bottom: 2px solid #74a940;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #74a940;
    box-shadow: inset 0 -2px #74a940;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 5px;
}

.genericButton:active, .genericButton:hover{
    top: 1px;
    background: #a7cf80 ;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.genericButton:active {
    background: #8dc15a ;
}

.genericButton:focus {
    outline: 0;
}

@media (max-height: 320px) {
    .genericButton {
        margin-bottom: 2px;
        margin-top: 3px;
    }
}


.fader {
    opacity: 0;
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0s;
    -moz-animation-duration:0s;
    animation-duration:0s;
}

.fader.fast {
    -webkit-animation-duration:0s;
    -moz-animation-duration:0s;
    animation-duration:0s;
}

.fader.two {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    animation-delay: 0s;
}


#spawnbox {
    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    -ms-transition: max-height 1s;
    -o-transition: max-height 1s;
    transition: max-height 1s;
    overflow: hidden;
}

#settings {
    margin-top: 20px;
    display: none;
}

#settings h1 {
    font-size: 17px;
    font-weight: normal;
    text-align: center;
}


#settingContent {
    margin-left: 8%;
}

#settingLeft {
    float: left;
    width: 30%;
}

#settingRight {
    float: left;
    width: 70%;
}

#settings p {
    font-size: large;
    font-weight: normal;
    text-align: center;
}

#startMenu h3 {
    padding-bottom: 0;
    margin-bottom: 0;
}

#startMenu ul {
    margin: 10px;
    padding: 10px;
    margin-top: 0;
}

#cptext {
    float: bottom;
    font-size: 2px;
    color: #CCCCCC;
    margin-left: -30px;
}

/*
@media only screen  and (min-width : 1224px) {
#mobile {
display: none;
	}
}

@media only screen  and (max-width : 1224px) {
#chatbox {
display: none;
        }
}
*/

/*
     FILE ARCHIVED ON 13:45:19 Aug 26, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:37:38 Nov 30, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.606
  exclusion.robots: 0.043
  exclusion.robots.policy: 0.031
  esindex: 0.011
  cdx.remote: 9.367
  LoadShardBlock: 265.733 (3)
  PetaboxLoader3.datanode: 201.588 (4)
  PetaboxLoader3.resolve: 277.212 (2)
  load_resource: 305.591
*/